body {
  margin-top: 5.5%;
  font-family: "Arial", "Helvetica", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.3vw;
  line-height: auto;
}

ul {
  padding-left: 4%;
}

img {
  margin-bottom: 0px;
  max-width: 100%; 
  height: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

 a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: none;
    box-shadow: none;
    color: inherit;
}

.nav {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  padding: 1% 10%;
  border-bottom: 1px solid lightgray;
  font-size: 1.7vw;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 1;
  white-space: nowrap;
  overflow: hidden;
}

.leftnav {
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: left;
}

.leftnav > img {
  max-width: 40px;
  max-height: 50px;
}

.leftnav > div {
  padding-left: 1%;
  font-weight: bold;
  color: #007acc;
}

.rightnav {
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: right;
}

.rightnav > a {
  margin-left: 4%;
  font-size: 1.3vw;
}

.rightnav > a.selected, .rightnav > a:hover {
  color: #007acc;
}

.footer {
  text-align: center;
  border-top: 1px solid lightgray;
  padding: 2.8% 0%;
}

.footer > div > a {
  margin: 0% .7%;
  color: #007acc;
  font-size: 2.2vw;
}

.copyright {
  background-color: #85929E;
  color: #ffffff;
  margin-top: 1.6%;
}

.overview {
  text-align: center;
  padding: 12% 0%;
  background-image: url(../../content/assets/nyc3.jpeg);
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
}

.overviewheader {
  font-size: 4vw;
  padding-bottom: 1.5%;
  font-weight: bold;
}

.overviewcaption {
  font-size: 2.5vw;
  font-weight: bold;
}

.research {
  text-align: center;
  margin: 2% 14%;
}

.research > div, .homeimage > div > div {
  font-size: 3vw;
}
.research > p , .homeimage > div > p {
  font-size: 1.7vw;
}

.homeimage > div {
  width: 70%;
}

.homeimage {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* background-image: url(../../content/assets/home.jpg); */
}

.homeimagetext {
  background-color: #F8F9F9;
  padding: 2% 0%;
}

.story {
  display: flex;
  margin: 0% 14%;
}

.story > div {
  padding: 5% 7%;
  text-align: center;
} 

.story > div > div {
  font-size: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.services {
  margin: 0% 14%;
}

.servicesmovement {
  display: flex;
  flex-direction: row;
}

.seniors {
  text-align: center;
  background-image: url(../../content/assets/couple2.jpg);
  padding-top: 52%;
  background-repeat: no-repeat;
  background-size: cover;
}

.balance {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.7% 0%;
}

.balanceheader, .orthopedicheader {
    text-align: center;
    font-size: 2.2vw;
    padding-bottom: 20px;
}

.balance > div > ul {
  /* margin: 0px 250px; */
  font-size: 1.6vw;
  display: flex;
  flex-direction: column;
  margin: 0% 4%;
  padding-bottom: 2%;
}

.servicesimage {
  text-align: center;
  background-image: url(../../content/assets/seniors.jpg);
  padding-top: 52%;
  background-repeat: no-repeat;
  background-size: cover;
}
.orthopedic {
  padding: 1.7% 0%;
}

.orthopedicconditions {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6vw;
}

.orthopedicconditions > ul {
  padding: 0% 3.8%;
}
.insurance {
  display: flex;
  padding: 0 14%;
  background-color: #F8F9F9;
}

.insurancetype {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 2%;
  padding: 1% 0;
  width: 100%;
}

.insuranceheader {
  font-size: 2.2vw;
  padding-bottom: 2%;
}

.insurances {
  margin-bottom: 0;
}

.insurancenetwork, .privatepay {
  font-size: 1.7vw;
  padding-bottom: 1%;
}

.img {
  width: 100%;
}

.questions {
  margin: 0 14%;
}

.questionheader {
  font-size: 2.2vw;
  padding-top: 2%;
}

.question {
  font-size: 1.7vw;
  padding-top: 4%;
  padding-bottom: 2%;
}


.contact {
  display: flex;
  padding: 0% 14%;
  background-color: #F8F9F9;
}

.contactsection {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contactheader {
  font-size: 3vw;
  padding-bottom: 10px;
}

.contactinfo {
  padding: 1.3% 0%;
  font-size: 1.5vw;
}

.contact > div {
  width: 100%;
}